@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

/* reset for responsiveness */
input { min-width: 0px; }

/* Organizational one-offs */
.b1 {
    border: 1px;
    border-color: black;
    border-style: solid;
}
.d-n {
	display: none;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.jcs {
	justify-content: start;
}
.jcsa {
    justify-content: space-around;
}
.jcse {
	justify-content: space-evenly;
}
.aic {
    align-items: center;
}
.acc {
    align-content: center;
}
.vertcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}



/************************************* Main ***************************************/
.fulldoccontainer {
	font-family: "Ubuntu", Arial, sans-serif;
	width: 99vw;
	min-height: 99vh;
	border-radius: calc(1vh + 1vw);
	background: linear-gradient(135deg, #0026ff, #7b86ff);
    overflow: auto;
}
.mainheader {
	padding: 1vh 1vw;
	margin: 1vh 1vw;
    background-color: white;
	border-radius: calc(1vh + 1vw);
    font-weight: 600;
    cursor: default;

}
.header {
	font-size: calc(1em + 2vh + 1vw);
}
.maincontainer {
	width: 95vw;
	min-height: 85vh;
	padding: 3vh 2vw;
	border-radius: calc(1vh + 1vw);
	background: linear-gradient(135deg, #a6b4ff, #ffffff);

}

/******************************** Left Nav *****************************************/
.leftnav {
	width: 30vw;
}
.searchcontainer {
	margin: 1vh 1vw;
}
.searchbar {

}
.searchbox {
	justify-content: space-evenly;
	margin: 1vh 1vw 1vh 1vw;
	font-size: calc(0.3em + 0.6vh + 0.6vw);
}
.searchbutton {
	border-radius: calc(0.5vh + 0.5vw);
}
.searchhistory {
	
}
.cityhistory {
	width: 25vw;
	text-align: center;
	margin: 1vh 1vw;
	padding: 1vh 1vw;
	border-radius: calc(0.5vh + 0.5vw);
}


/******************************* Body Display **********************************/
.bodydisplay {
	width: 65vw;
	/* min-height: 75vh; */
}

/******************************* Current Weather **********************************/
.currentweathercontainer {

}
.bodylineone {
	font-weight: 600;
	margin: 2vh 2vw;
	border-radius: calc(0.5vh + 0.5vw);
	background-color: rgb(247, 247, 247);
	box-shadow: 3px 3px gray;
}
.currenttextcontainer {
	margin: 2vh 2vw;
	border-radius: calc(0.5vh + 0.5vw);
	background-color: rgb(247, 247, 247);
	box-shadow: 3px 3px gray;
}
.currentcity {
	margin: 1vh 1vw;
}
.date {
	margin: 1vh 1vw;

}
.currentweatherimg {
	margin: 1vh 1vw;
	/* background-color: rgb(113, 113, 255); */
	border: 3px;
	border-color: rgb(233, 233, 233);
	border-style: solid;
	background-color: rgb(233, 233, 233);
	border-radius: calc(0.5vh + 0.5vw);
}
.currentweathertext {
	
	margin: 1vh 1vw;
}


/******************************* 5 day forecast **********************************/
.fivedayweathercontainer {
	margin: 2vh 2vw;
	border-radius: calc(0.5vh + 0.5vw);
	background-color: gainsboro;
}
.fivedayweatherheader {
	background-color: white;
	border-radius: calc(0.25vh + 0.25vw);
	padding: 1vh 1vw;
	margin: 2vh 2vw;
	font-weight: 600;
}
.fivedayforecast {
	
}
.daycontainer {
	background-color: white;
	padding: 1vh 1vw;
	margin: 1vh 1vw;
	border-radius: calc(0.25vh + 0.25vw);
}


/* Button effects */

/* ****************************** Fancy Button Design 2 *********************************** */

.fbuttontwo.button--fancytwo {
	background: #37474f;
	color: #fff;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--fancytwo.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--fancytwo::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #3f51b5;
	z-index: -1;
	border-radius: inherit;
	opacity: 0;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--fancytwo.button--inverted::before {
	border-color: #7986cb;
}
.button--fancytwo:hover {
	background-color: #fff;
	color: #3f51b5;
}
.button--fancytwo.button--inverted:hover {
	background-color: #37474f;
	color: #7986cb;
}
.button--fancytwo:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.fbuttontwo {
	padding: 0.5vh 2vw;
	border: none;
	background: none;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}





/* ****************************** FANCY BUTTON DESIGN 1 *********************************** */
/* .button--start {
    padding: 0 calc(1vw + 1vh);
	overflow: hidden;
	background: #afafaf;
	-webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: calc(0.5vw + 0.5vh);
	font-family: "Ubuntu", Arial, sans-serif;
}
.button--start:focus {
    outline: none;
}
.button--start.button--inverted {
	background: #fff;
	color: #afafaf;
}
.button--start > span {
	display: inline-block;
    padding: calc(0.5vw + 0.5vh) 0;
}
.button--start:hover {
	background-color: #353535;
}
.button--start:hover > span:nth-child(odd) {
	-webkit-animation: anim-1 0.5s forwards;
	animation: anim-1 0.5s forwards;
}
.button--start:hover > span:nth-child(even) {
	-webkit-animation: anim-2 0.5s forwards;
	animation: anim-2 0.5s forwards;
}
.button--start:hover > span:nth-child(odd),
.button--start:hover > span:nth-child(even) {
	-webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
}
@-webkit-keyframes anim-1 {
	0%,
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	49% {
		opacity: 1;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		color: inherit;
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		color: #fff;
	}
	100% {
		color: #fff;
	}
}
@keyframes anim-1 {
	0%,
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	49% {
		opacity: 1;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		color: inherit;
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		color: #fff;
	}
	100% {
		color: #fff;
	}
}
@-webkit-keyframes anim-2 {
	0%,
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	49% {
		opacity: 1;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		color: inherit;
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		color: #fff;
	}
	100% {
		color: #fff;
	}
}
@keyframes anim-2 {
	0%,
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	49% {
		opacity: 1;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		color: inherit;
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		color: #fff;
	}
	100% {
		color: #fff;
	}
}
.button--start:hover > span:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.button--start:hover > span:nth-child(2) {
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
}
.button--start:hover > span:nth-child(3) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.button--start:hover > span:nth-child(4) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}
.button--start:hover > span:nth-child(5) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.button--start:hover > span:nth-child(6) {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
.button--start:hover > span:nth-child(7) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.button--start:hover > span:nth-child(8) {
	-webkit-animation-delay: 0.35s;
	animation-delay: 0.35s;
}
.button--start:hover > span:nth-child(9) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.button--start:hover > span:nth-child(10) {
	-webkit-animation-delay: 0.45s;
	animation-delay: 0.45s;
}
.button--start:hover > span:nth-child(11) {
	-webkit-animation-delay: 0.55s;
	animation-delay: 0.55s;
}
.button--start:hover > span:nth-child(12) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.button--start:hover > span:nth-child(13) {
	-webkit-animation-delay: 0.65s;
	animation-delay: 0.65s;
}
.button--start:hover > span:nth-child(14) {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.button--start:hover > span:nth-child(15) {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}
.button--start:hover > span:nth-child(16) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.button--start:hover > span:nth-child(17) {
	-webkit-animation-delay: 0.85s;
	animation-delay: 0.85s;
}   */